<div class="main-container contact">
  <div class="contact__heading">Kontaktieren Sie mich</div>
  <div class="contact__subheading">
    Ich freue mich über jede Kontaktaufnahme.
  </div>
  <div class="contact-boxes">
    <div class="contact-boxes__box">
      <b class="contact-boxes__heading">So können Sie mich erreichen:</b>
      <div class="contact-box">
        <div class="content-box-container">
          <div class="contact-box__text">Telefon:</div>
          <div class="contact-box__text">+43 664 1293917</div>
        </div>
        <br />
        <a
          target="_blank"
          class="contact-box__link content-box-container"
          href="mailto:automobile.diermaier@outlook.com"
        >
          <div class="contact-box__text">E-Mail:</div>
          <div class="contact-box__text">automobile.diermaier@outlook.com</div>
        </a>
      </div>
    </div>

    <div class="contact-boxes__box">
      <b class="contact-boxes__heading">Besuchen Sie den Schauraum:</b>
      <div class="contact-box">
        <div class="content-box-container">
          <div class="contact-box__text">
            Montag bis Freitag: 8:00 - 18:00 Uhr
          </div>
          <div class="contact-box__text">Samstag: 9:00 - 12:00 Uhr</div>
        </div>
        <br />
        <a
          target="_blank"
          class="contact-box__link content-box-container"
          href="https://www.google.com/maps/place/Automobile+Diermaier/@48.2536278,13.517074,15z/data=!4m6!3m5!1s0x43dd8ede688526e3:0xa8c86ad51f0a92ca!8m2!3d48.2536278!4d13.517074!16s%2Fg%2F11stpws6b2?entry=ttu"
        >
          <div class="contact-box__text">Furt 30</div>
          <div class="contact-box__text">4754 Andrichsfurt</div>
        </a>
      </div>
    </div>

    <div class="contact-boxes__box">
      <b class="contact-boxes__heading"
        >Oder schreiben Sie mir bequem über Whatsapp:</b
      >
      <a
        target="_blank"
        class="contact-box__link content-box-container"
        href="https://api.whatsapp.com/send?phone=436641293917"
      >
        <div class="contact-box__text">Nachricht schreiben</div></a
      >
    </div>
  </div>
</div>
