@import '../../../styles.scss';

:host {
  flex: 1;
  background-color: #f4f4f4;
}

.contact-heading {
  position: relative;
  display: flex;
  justify-content: center;
}

.header {
  &__image {
    width: 100%;
    // opacity: 0.5;

    @media (max-width: 700px) {
      height: 15rem;
      width: auto;
    }

    @media (max-width: 500px) {
      height: 10rem;
      width: auto;
    }
  }

  &__background {
    border-radius: 1rem;
    color: grey;
    height: 20rem;
  }

  //title with image
  // &__title {
  //   font-family: $heading-font;
  //   font-size: clamp(1.5rem, 8vw, 6rem);
  //   font-weight: 700;
  //   width: max-content;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   color: white;
  // }

  //title without image
  &__title {
    font-family: $quote-font;
    font-size: clamp(1.5rem, 9vw, 6rem);
    width: max-content;
    color: black;
    margin: 4rem;
    text-align: center;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;

  @media (max-width: 1200px) {
    gap: 2rem;
  }
}

.item {
  gap: 1rem;
  // transform: translateY(-15%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  text-align: center;
  width: 25rem;
  max-height: 13rem;
  border-radius: 1rem;
  background-color: #e6010c4e;

  @media (max-width: 700px) {
    transform: translateY(15%);
  }

  @media (max-width: 500px) {
    width: 15rem;
  }

  &__heading {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
  }

  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: clamp(0.2rem, 3vw, 1rem);
  }

  &__mail {
    text-decoration: none;
    color: black;
  }

  &:hover {
    background-color: rgba(193, 23, 37, 0.5);
  }
}

.contact {
  @media screen and (min-width: 1200px) {
    margin-top: 7rem;
  }

  @media screen and (max-width: 600px) {
    margin-top: 3rem;
  }

  &__heading {
    // font-family: $heading-font;
    font-size: clamp(1rem, 5vw, 3rem);
    // font-weight: 700;
    // font-family: $quote-font;
    width: max-content;
    color: $grey-90;
    padding: 2rem 2rem 0.5rem;
  }

  &__subheading {
    // font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: $grey-90;
    // color: grayscale($color: #5d5d5d);
    font-family: $quote-font;
    padding: 0.5rem 1rem 4rem;
    text-align: center;

    @media screen and (max-width: 700px) {
      padding-bottom: 2rem;
    }
  }
}

.contact-boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 13rem;
    padding: 0 1rem;
    background-color: white;
    // background-color: rgb(179, 179, 179);
    // border-radius: 1rem;
    // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    @media screen and (min-width: 600px) and (max-width: 1200px) {
      width: 70vw;
      padding: 2rem;
    }

    @media screen and (width > 1200px) {
      width: 25vw;
      height: 18rem;
      padding: 2rem;
    }

    // &:hover {
    //   scale: 1.1;
    // }
  }

  &__heading {
    display: flex;
    font-size: clamp(1rem, 4vw, 1.5rem);
    // color: white;
    color: $grey-90;
    font-weight: 500;
  }
}

.contact-box {
  display: flex;
  flex-direction: column;

  &__text {
    // color: white;
    color: $grey-70;
  }

  &__link {
    text-decoration: none;

    &:hover {
      outline: auto 1px $grey-70;
    }
  }
}

.content-box-container {
  padding: 0.5rem 0.5rem;
}
