@import '../../../styles.scss';

:host {
  flex: 1;
}

.contact {
  @media screen and (min-width: 1200px) {
    margin-top: 7rem;
  }

  @media screen and (max-width: 600px) {
    margin-top: 3rem;
  }

  &__heading {
    font-size: clamp(1.5rem, 4vw, 4rem);
    width: max-content;
    color: $grey-90;
    padding: 1rem;
    font-weight: 300;
  }

  &__subheading {
    color: $grey-90;
    // font-family: $quote-font;
    padding: 0.5rem 1rem 4rem;
    text-align: center;
    font-weight: 300;

    @media screen and (max-width: 700px) {
      padding-bottom: 2rem;
    }
  }
}

.contact-boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 13rem;
    padding: 0 1rem;
    box-shadow: $shadow;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    @media screen and (min-width: 600px) and (max-width: 1200px) {
      width: 70vw;
      padding: 2rem;
    }

    @media screen and (width > 1200px) {
      width: 25vw;
      height: 18rem;
      padding: 2rem;
    }
  }

  &__heading {
    display: flex;
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: $grey-90;
    font-weight: 500;
  }
}

.contact-box {
  display: flex;
  flex-direction: column;

  &__text {
    color: $grey-70;
  }

  &__link {
    text-decoration: none;

    &:hover {
      outline: auto 1px $grey-70;
    }
  }
}

.content-box-container {
  padding: 0.5rem 0.5rem;
}
