<div class="contact">
  <div class="contact-heading">
    <!-- <img src="assets/images/background.png" alt="Bild" class="header__image" /> -->
    <!-- <div class="header__background"></div> -->
    <div class="header__title">Treten Sie in Kontakt</div>
  </div>
  <div class="contact-container">
    <div class="item">
      <div class="item__heading">Jetzt Termin vereinbaren</div>
      <div class="item__content">
        <div>Telefon: +43 677 61682620</div>
        <a href="mailto:automobile.diermaier@outlook.com" class="item__mail">
          E-Mail: automobile.diermaier@outlook.com
        </a>
      </div>
    </div>
    <div class="item">
      <div class="item__heading">Besuchen Sie die Schauräume</div>
      <div class="item__content">
        <div>Montag bis Freitag: 8:00 - 18:00 Uhr</div>
        <div>Samstag: 9:00 - 12:00 Uhr</div>
      </div>
    </div>
  </div>
</div>
