@import '../../../styles.scss';

:host {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100rem;

  &__background {
    display: flex;
    justify-content: center;
    background-color: $grey-background;
    height: 20rem;
    width: 100%;
    margin-bottom: 13rem;

    @media screen and (max-width: 1000px) {
      height: 15rem;
      margin-bottom: 15rem;
    }

    @media screen and (max-width: 800px) {
      height: 12rem;
      margin-bottom: 12rem;
    }

    @media screen and (max-width: 500px) {
      height: 10rem;
      margin-bottom: 10rem;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin-top: 10rem;

    @media screen and (max-width: 1000px) {
      margin-top: 7rem;
    }

    @media screen and (max-width: 800px) {
      width: 15rem;
      height: 15rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 4rem;
    }

    &:hover {
      scale: 1.1;
    }

    img {
      width: 100%;
      height: 120%;
      object-fit: cover;
    }
  }

  &__heading {
    padding: 1rem;
    // font-family: $quote-font;
    // font-family: 'libre baskerville', serif;
    font-weight: 300;
    font-size: clamp(1.5rem, 4vw, 4rem);
    width: max-content;
    color: $grey-90;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translate(0.5rem, 0);
    }
  }

  &__text-special {
    // // font-family: 'libre baskerville', serif;
    // font-size: 1.2rem;
    font-weight: 550;
    // font-family: $heading-font;
  }
}

.text-container {
  padding: 0 5rem 2rem;

  @media screen and (max-width: 600px) {
    padding: 0 2rem 2rem;
  }
}
