<div class="about">
  <div class="about__background">
    <div class="about__image">
      <img src="assets/images/kontaktFoto.jpg" alt="Julian" />
    </div>
  </div>
  <br />
  <div class="about__heading">Ich bin Julian.</div>
  <div class="text-container">
    <span class="about__text">
      Mein Name ist Julian Diermaier und schon in meiner Kindheit war ich
      fasziniert von Autos und ihrer Technik. Seit dem Schulabschluss war für
      mich klar, dass ich später einmal mit Autos arbeiten möchte. So machte ich
      meine Leidenschaft zum Beruf und absolvierte die Lehre zum KFZ-Techniker.
      Nach dem Lehrabschluss und dem Grundwehrdienst entschied ich mich dazu,
      meine Kenntnisse und Fähigkeiten bei Volkswagen und Audi in einer
      renommierten Vertragswerkstatt weiter auszubauen.<br />
      Nach einigen Jahren Berufspraxis habe ich mich dazu entschieden, mich
      selbstständig zu machen. Somit gründete ich mit 22 Jahren
      <span class="about__text-special">Automobile Diermaier.</span> Ein
      Einzelunternehmen für den Handel von Gebrauchtwagen. Mein Ziel war von
      Anfang an klar:
    </span>
    <span class="about__text-special">Hohe Qualität zum Bestpreis.</span>
    <span class="about__text">
      Mit diesem Ansatz möchte ich mich von anderen abheben. Dass dies gelingt,
      spiegelt sich in den hervorragenden Bewertungen wider, die meine Kunden
      für mich hinterlassen haben. <br />
      Um meine Fachkenntnisse weiter zu vertiefen, habe ich mich entschieden,
      die KFZ-Meisterprüfung anzustreben. Diese kontinuierliche Weiterbildung
      stellt sicher, dass ich stets auf dem neuesten Stand der Technologie
      bleibe und unseren Kunden die bestmögliche Servicequalität geboten wird.
      Jeden Tag aufs Neue bereitet es mir Freude und Ehre, meine
      <span class="about__text-special">Leidenschaft für Autos</span> in die
      Dienstleistungen von Automobile Diermaier einbringen zu können.
    </span>
  </div>
</div>
