@import '../../../styles.scss';

.service {
  display: flex;

  &__heading {
    font-size: clamp(1.5rem, 6vw, 4rem);
    font-weight: 300;
    text-align: center;
    padding: 1rem;
  }

  &__subheading {
    // font-family: $quote-font;
    font-family: 'libre baskerville', serif;

    padding: 0 1rem 5rem;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding-bottom: 2rem;
    }
  }
}

.accordion-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  &__box {
    padding: 1rem;
    width: 30rem;
    background-color: $grey-background;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  height: 100%;
  outline: auto 1px $grey-70;
  transition: $transition;

  &:focus {
    transform: translate(0, -1rem);
  }

  &__header {
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 1.2rem);
    padding: 1rem 0;
  }

  &__icon {
    width: clamp(3rem, 10vw, 5rem);
    margin: 1rem auto;

    &:hover {
      //   scale: 1.1;
    }
  }

  &__body {
    padding: 1rem;
  }
}

.keyword {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;

  &__icon {
    width: 1.5rem;
  }

  &__text {
    padding-left: 0.7rem;
  }
}
