.footer {
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 4rem;
  display: flex;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  &__impressum {
    align-items: center;
    text-decoration: none;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }
}
