.footer {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__impressum {
        align-items: center;
        text-decoration: none;
        color: black;

    &:hover {
        cursor: pointer;
    }
    }
}