<div class="main-container home">
  <div class="container">
    <div class="container-text">
      <div class="container-text__title">
        Ihr Fachmann für erstklassige Gebrauchtwagen.
      </div>
      <a class="container-text__link" routerLink="/fahrzeuge"
        >Zu den Fahrzeugen</a
      >
    </div>

    <video class="container-image" autoplay muted loop>
      <source src="/assets/images/vid-muted.mp4" type="video/mp4" />
      Dein Browser unterstützt das Video nicht.
    </video>
    <audio style="display: none">
      <source src="data:audio/mpeg;base64,//9k=" type="audio/mpeg" />
    </audio>

    <!-- <img
      class="container-image"
      src="assets/images/cars2.jpeg"
      alt="automobile-diermaier"
    /> -->
  </div>
</div>
