@import '../../../styles.scss';

:host {
  flex: 1;
}

.container {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  &__title {
    font-size: clamp(1.5rem, 9vw, 5rem);
    font-family: $heading-font;
  }

  &__link {
    color: white;
    text-decoration: none;
    background-color: #db0334eb;
    border-radius: 2rem;
    padding: 1rem 2rem;
  }
}

.container-image {
  // max-width: 40rem;
  max-width: clamp(20rem, 4vw, 40rem);
}
