@import '../../../styles.scss';

:host {
  flex: 1;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 3rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 650px;

  &__title {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-family: $heading-font;
    padding: 2rem 1rem;
    color: $grey-90;
  }

  &__link {
    color: white;
    text-decoration: none;
    background-color: $grey-50;
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: $transition;

    &:hover {
      scale: 1.05;
    }
  }
}

.container-image {
  // max-width: 40rem;
  max-width: clamp(8rem, 70vw, 40rem);
}
