<div class="mobile-menu" [ngClass]="{ 'mobile-menu--open': showMenu }">
  <div class="logo-container" (click)="clickLogo()">
    <img
      a
      routerLink="/"
      [src]="this.logo"
      alt="Logo"
      class="logo-container__logo"
    />
  </div>
  <div class="icon-container" (click)="toggleMenu()">
    <img [src]="this.icon" alt="Logo" class="icon-container__icon" />
  </div>
</div>

<div class="menu-overlay" *ngIf="showMenu">
  <div class="menu-entries-container">
    <a
      routerLink="/fahrzeuge"
      class="menu-entries-container__entry"
      (click)="toggleMenu()"
      >Fahrzeuge</a
    >
    <a
      routerLink="/über-mich"
      class="menu-entries-container__entry"
      (click)="toggleMenu()"
      >Über mich</a
    >
    <a
      routerLink="/kontakt"
      class="menu-entries-container__entry"
      (click)="toggleMenu()"
      >Kontakt</a
    >
  </div>
</div>
