@import '../../../styles.scss';

:host {
  width: 100%;
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &--open {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.logo-container {
  z-index: 11;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

  &__logo {
    z-index: 10;
    height: 3rem;
    padding: 2rem;
    transition: transform 0.2s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.icon-container {
  z-index: 11;

  &__icon {
    height: 2rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.menu-overlay {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu-entries-container {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__entry {
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: clamp(1.5rem, 4vw, 6rem);
  }
}
