@import '../../../styles.scss';

:host {
  width: 100%;
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &--open {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.logo-container {
  z-index: 11;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;

  &__logo {
    z-index: 10;
    height: 3rem;
    padding: 1.5rem;
    transition: transform 0.2s ease;

    &--menu-open {
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

.icon-container {
  z-index: 11;

  &__icon {
    height: 2rem;

    &--small {
      height: 1.5rem;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.menu-overlay {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 90px);
  background-color: rgba(0, 0, 0, 0.9);
}

.menu-entries-container {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

  &__entry {
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 7vw, 2rem);
    // font-family: $heading-font;

    &:hover {
      cursor: pointer;
      background-color: rgb(50, 50, 50);
    }
  }
}

.menu-list-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;

  &__icon {
    height: 1.2rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.icon-position {
  display: flex;
  align-items: center;
}
