<div class="desktop-menu">
  <div class="logo-container">
    <!-- <a routerLink="/" class="header__title">Automobile Diermaier</a> -->
    <img
      *ngIf="showLargeLogo"
      a
      routerLink="/"
      src="assets/logo/logo-text-white.png"
      alt="Logo"
      class="logo-container__logo"
    />
    <img
      *ngIf="!showLargeLogo"
      a
      routerLink="/"
      src="assets/logo/logo-small-white.png"
      alt="Logo"
      class="logo-container__logo"
    />
  </div>
  <nav class="menu-list">
    <a routerLink="/fahrzeuge" class="menu-list__entry">Fahrzeuge</a>
    <a routerLink="/service" class="menu-list__entry">Service</a>
    <a routerLink="/über-mich" class="menu-list__entry">Über mich</a>
    <a routerLink="/kontakt" class="menu-list__entry">Kontakt</a>
    <div class="menu-list-icons menu-list__entry">
      <a
        href="https://www.facebook.com/profile.php?id=100091931566664"
        target="_blank"
        class="icon-position"
        ><img
          src="assets/icons/facebook.png"
          alt="Facebook"
          class="menu-list-icons__icon"
      /></a>
      <a
        href="https://www.instagram.com/automobile.diermaier/"
        target="_blank"
        class="icon-position"
        ><img
          src="assets/icons/insta.png"
          alt="Instagram"
          class="menu-list-icons__icon"
      /></a>
      <a
        href="https://api.whatsapp.com/send?phone=4367761682620"
        target="_blank"
        class="icon-position"
        ><img
          src="assets/icons/whatsapp.png"
          alt="Whatsapp"
          class="menu-list-icons__icon"
      /></a>
    </div>
  </nav>
</div>
