@import '../../../styles.scss';

.impressum {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  &__heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__subhheading {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem;
  }
}
