<div class="impressum">
  <div class="impressum__heading">Impressum</div>
  <div class="impressum__subheading">Firmenbezeichnung</div>
  <div class="impressum__text">Automobile Diermaier</div>
  <div class="impressum__subheading">Geschäftsführer</div>
  <div class="impressum__text">Julian Diermaier</div>
  <div class="impressum__subheading">Adresse</div>
  <div class="impressum__text">Furt 30</div>
  <div class="impressum__text">4754 Andrichsfurt</div>
  <div class="impressum__subheading">Kontakt</div>
  <div class="impressum__text">Telefon: +43 664 1293917</div>
  E-Mail: automobile.diermaier@outlook.com
</div>
