<div class="impressum">
  <div class="impressum__heading">Impressum</div>
  <div class="impressum__subheading">Firmenbezeichnung</div>
  <div class="impressum__text">Automobile Diermaier</div>
  <div class="impressum__subheading">Geschäftsführer</div>
  <div class="impressum__text">Julian Diermaier</div>
  <div class="impressum__subheading">Adresse</div>
  <div class="impressum__text">Furt 30</div>
  <div class="impressum__text">4754 Andrichsfurt</div>
  <div class="impressum__subheading">Kontakt</div>
  <div class="impressum__text">Telefon: +43 677 61682620</div>
  <div class="impressum__text">E-Mail: automobile.diermaier@outlook.com</div>

  <div class="impressum__subheading"></div>
  <div class="impressum__heading">Datenschutzerklärung</div>
  <div class="impressum__text">
    Vielen Dank für Ihren Besuch auf unserer Website. Es liegt uns am Herzen,
    dass Sie eine angenehme und sichere Benutzererfahrung erhalten. Nachfolgend
    werden Sie darüber informiert, wie diese Webseite die
    Datenschutz-Grundverordnung (DSGVO) einhält.
  </div>
  <div class="impressum__subheading">Erhobene Daten</div>
  <div class="impressum__text">
    Wir erheben keine personenbezogenen Daten von Ihnen. Das können Sie daran
    erkennen, dass es kein Kontaktformular oder andere Eingabemöglichkeiten
    gibt.
  </div>
  <div class="impressum__subheading">Automatische Datenerfassung</div>
  <div class="impressum__text">
    Unsere Website erfasst automatisch bestimmte Informationen, wenn Sie sie
    besuchen. Dies umfasst allgemeine technische Informationen, wie z. B. die
    IP-Adresse Ihres Geräts. Bitte beachten Sie, dass wir die IP-Adresse nicht
    aktiv speichern oder für Identifikationszwecke verwenden.
  </div>
  <div class="impressum__subheading">Cookies und Tracking-Technologien</div>
  <div class="impressum__text">
    Wir verwenden keine Cookies oder Tracking-Technologien, um Informationen von
    unseren Besuchern zu sammeln.
  </div>
  <div class="impressum__subheading">Datenweitergabe</div>
  <div class="impressum__text">
    Wir geben keine personenbezogenen Daten an Dritte weiter und nutzen die von
    Ihnen besuchte IP-Adresse nicht, um persönliche Profile zu erstellen.
  </div>
  <div class="impressum__subheading">Kontakt</div>
  <div class="impressum__text">
    Wenn Sie Fragen zur Verarbeitung von Daten auf unserer Website haben, können
    Sie uns gerne unter den angegebenen Kontaktdaten erreichen.
  </div>
</div>
