@import '../../../styles.scss';

:host {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.security {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  color: $grey-90;

  @media screen and (max-width: 600px) {
    margin: 2rem;
  }

  &__heading {
    font-size: clamp(1.3rem, 5vw, 2rem);
    font-weight: 500;
    margin: 2rem 0 1rem;
  }

  &__subheading {
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 500;
    margin: 1rem 0;
  }
}
