<div class="security">
  <div class="security__heading">Datenschutzerklärung</div>
  Vielen Dank für Ihren Besuch auf unserer Website. Es liegt uns am Herzen, dass
  Sie eine angenehme und sichere Benutzererfahrung erhalten. Nachfolgend werden
  Sie darüber informiert, wie diese Webseite die Datenschutz-Grundverordnung
  (DSGVO) einhält.
  <div class="security__subheading">Erhobene Daten</div>
  Wir erheben keine personenbezogenen Daten von Ihnen. Das können Sie daran
  erkennen, dass es kein Kontaktformular oder andere Eingabemöglichkeiten gibt.
  <div class="security__subheading">Automatische Datenerfassung</div>
  Unsere Website erfasst automatisch bestimmte Informationen, wenn Sie sie
  besuchen. Dies umfasst allgemeine technische Informationen, wie z. B. die
  IP-Adresse Ihres Geräts. Bitte beachten Sie, dass wir die IP-Adresse nicht
  aktiv speichern oder für Identifikationszwecke verwenden.
  <div class="security__subheading">Cookies und Tracking-Technologien</div>
  Wir verwenden keine Cookies oder Tracking-Technologien, um Informationen von
  unseren Besuchern zu sammeln.
  <div class="security__subheading">Datenweitergabe</div>
  Wir geben keine personenbezogenen Daten an Dritte weiter und nutzen die von
  Ihnen besuchte IP-Adresse nicht, um persönliche Profile zu erstellen.
  <div class="security__subheading">Kontakt</div>
  Wenn Sie Fragen zur Verarbeitung von Daten auf unserer Website haben, können
  Sie uns gerne unter den angegebenen Kontaktdaten erreichen.
</div>
