// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$automobile-diermaier-primary: mat.define-palette(mat.$indigo-palette);
$automobile-diermaier-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$automobile-diermaier-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$automobile-diermaier-theme: mat.define-light-theme(
  (
    color: (
      primary: $automobile-diermaier-primary,
      accent: $automobile-diermaier-accent,
      warn: $automobile-diermaier-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($automobile-diermaier-theme);

/* You can add global styles to this file, and also import other style files */

$font: 'Inter';
$heading-font: 'Comfortaa', cursive;
$quote-font: 'Libre Baskerville', serif;
$font-size-xs: 1rem;
$grey-background: #f4f4f4;
$grey-90: #1f1f1f;
$grey-70: #4f4f4f;
$grey-50: #7b7b7b;
$shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
$transition: 0.3s ease-in-out;

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: $font;
  margin: 0;
  height: 100%;

  @media screen and (max-width: 600px) {
    font-size: 0.75rem;
  }
}

.prevent-scroll {
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 3rem 2rem;
}

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, 'Helvetica Neue', sans-serif;
// }
